.header {
  border-top: 7px solid #a7c353;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}
.header__logo {
  line-height: 0.9;
  margin: 8px 0 0 23px;
  color: #999999;
}
.logo__title,
.logo__subtitle {
  font-weight: 100;
  color: #999999;
}

.logo__title {
  font-size: 33px;
  margin: 7px 0 0 0;
}
.logo__title b {
  font-size: 40px;
  font-weight: 100;
}

.header__navBar-menu {
  display: flex;
  flex-direction: row;
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97px;
  padding: 43px 21px 0 18px;
}
.menu__item:hover {
  background: #a7c353;
}
.menu__item-link {
  font-size: 18px;
  text-decoration: none;
  color: #979797;
}

.menu__item-active {
  background: #a7c353;
}

.menu__item-active a {
  color: #fff;
}

.header__line {
  margin: auto;
  margin: 20px 0 0 0;
  border: none;
  background-color: #a7c353;
  color: #a7c353;
  height: 1px;
}
.menu__item-dropdowns {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  top: 100px;
}

.menu__item-dropdowns a {
  color: #979797;
  border: 1px solid #a7c353;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu__item-dropbtn:hover .menu__item-dropdowns {
  display: block;
}
.menu__item-dropdowns a:hover {
  color: #fff;
  background-color: #a7c353;
}

@media (max-width: 823px) {
  .header {
    flex-direction: column;
  }
  .menu__item {
    padding: 0 21px 0 18px;
    height: 44px;
  }
  .header__line {
    display: none;
  }
}

@media (max-width: 320px) {
  .header__navBar-menu {
    flex-direction: column;
    margin: 15px 0 0 0;
  }
}
