.header {
  border-top: 7px solid #a7c353;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}
.header__logo {
  line-height: 0.9;
  margin: 8px 0 0 23px;
}
.logo__title {
  font-weight: 100;
  color: #999999;
  font-size: 33px;
  margin: 7px 0 0 0;
}
.logo__title b {
  font-size: 40px;
  font-weight: 100;
}
.logo__subtitle {
  font-weight: 100;
  color: #999999;
}
.header__navBar {
}
.header__navBar-menu {
  display: flex;
  flex-direction: row;
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97px;
  padding: 43px 21px 0 18px;
}

.menu__item-link {
  font-size: 18px;
  text-decoration: none;
  color: #979797;
}
.menu__item-active {
  background: #a7c353;
}

.menu__item-active a {
  color: white;
}

.header__line {
  margin: auto;
  margin: 20px 0 0 0;
  border: none;
  background-color: #a7c353;
  color: #a7c353;
  height: 1px;
}
/* .header-active {
  color: white;
  background: #a7c353;
  height: 20px;
  padding: 83px 0 34px 0px;
} */
